.small-btn {
    width: min-content;
    height: fit-content;
    border: none;
    background: none;
    padding: 0;
}

.borderless-btn {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    font-size:calc(5px + 8 * (100vw - 320px) / 880);
}

.border-btn {
    background: none;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    padding: 5px auto;
    font-size:calc(5px + 8 * (100vw - 320px) / 880);
}

label {
    font-size:calc(5px + 8 * (100vw - 320px) / 880);
}

.close-btn {
    float: right;
}

.popup{
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
